/* General */
body {
	margin: 0;
	font-family: Arial, sans-serif;
}

/* Header */
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#user-area {
	display: flex;
	align-items: center;
}

#username {
	margin-right: 10px;
}

#logout-link {
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 5px 10px;
	border-radius: 5px;
}

#logout-link:hover {
	background-color: #fff;
	color: #333;
}

/* Form */
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

h1,
h2 {
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
}

#query-form > input {
	width: 234px;
}

label {
	font-size: 18px;
	margin-bottom: 10px;
	display: block;
}

input[type="email"],
input[type="password"],
input[type="text"] {
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

button[type="submit"],
.input[type="submit"] {
	padding: 5px 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover,
.input[type="submit"]:hover {
	background-color: #444;
}

button[type="submit"] {
	font-size: 18px;
}

.input[type="submit"] {
	margin-left: auto;
}

.remove-button,
.subscribe-button,
.query-button {
	margin-left: auto;
	padding: 5px 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin-bottom: 25px;
	width: 256px;
}

.remove-button:hover,
.subscribe-button:hover,
.query-button:hover {
	background-color: #444;
}